name: Push the Docker image to AWS ECR Repo
on:
  push:
    branches:
      - main
    tags:
      - "*"

env:
  REPO_NAME: "karma-init"
  ROLE: "arn:aws:iam::101328822697:role/gh-enersis-karma-init"

jobs:
  Build:
    name: Build
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::101328822697:role/gh-enersis-karma-init
          aws-region: eu-central-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push the image to Amazon ECR
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.ref_name }}
        run: |
          docker image build -t $ECR_REGISTRY/$REPO_NAME:$IMAGE_TAG .
          docker push $ECR_REGISTRY/$REPO_NAME:$IMAGE_TAG
